.root {
-fx-background-color: #232323;
}
.table-view {
-fx-background-color: #232323;
}

.table-row-cell {
-fx-background-color: #232323;
}

.table-cell {
-fx-background-color: #151515;
-fx-text-fill: #e7c697;
-fx-border-color: #555555;
}

/* Style the header row of the TableView */
.table-view .column-header-background {
    -fx-background-color: #414a4c; /* Background color of the header row */
}


.button {
-fx-font-family: "Fontin";
    -fx-background-color: #414a4c;
    -fx-text-fill: #e7c697;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.label {
-fx-font-family: "Fontin";
    -fx-background-color: #232323;
    -fx-text-fill: #e7c697;
}

.check-box {
-fx-font-family: "Fontin";
    -fx-background-color: #232323;
    -fx-text-fill: #e7c697;
}

/* Style for the CheckBox check mark */
.check-box .box {
    -fx-background-color: #151515; /* Background color of the box (unchecked) */
    -fx-border-color: #555555; /* Border color of the box */
    -fx-border-width: 2px; /* Border width of the box */
}

/* Style the tab header area */
.tab-pane .tab-header-area {
    -fx-background-color: #414a4c;
    -fx-min-height: 50px; /* Minimum height for the tab header area */
}

/* Style the tab header (selected tab) */
.tab-pane .tab-header-area .tab:selected {
    -fx-background-color: #444; /* Background color of selected tab */
    -fx-text-base-color: #fff;  /* Text color of selected tab */
}


/* Style the tab header (hover tab) */
.tab-pane .tab-header-area .tab:hover {
    -fx-background-color: #666; /* Background color of selected tab */
    -fx-text-base-color: #fff;  /* Text color of selected tab */
}

/* Style the tab header (unselected tab) */
.tab-pane .tab-header-area .tab {
    -fx-background-color: #777; /* Background color of unselected tab */
    -fx-text-base-color: #000;  /* Text color of unselected tab */
}

.tab {
    -fx-font-size: 16px;
    -fx-pref-height: 40px;
}

/* Style the background and text color of the TextField */
.text-field {
    -fx-background-color: #383838; /* Background color */
    -fx-text-fill: #e7c697;
    -fx-font-family: "Fontin";

    -fx-prompt-text-fill: #7C7262; /* Prompt text color */
}

.button:hover {
    -fx-background-color: #343b3c; /* Background color on hover */
}
.button:pressed {
    -fx-background-color: #202526; /* Background color when pressed */
}

// Background color of the control itself
.choice-box {
  -fx-background-color: #414a4c;
  -fx-mark-color: orange; // arrow color
}
// Background color of the whole context menu
.choice-box .context-menu {
-fx-background-color: #414a4c;
}
// Focused item background color in the list
.choice-box .menu-item:focused {
-fx-background-color: #202526;
}

.choice-box .label {
-fx-font-family: "Fontin";
    -fx-background-color: #414a4c;
    -fx-text-fill: #e7c697;
}

.choice-box .label:hover {
-fx-font-family: "Fontin";
    -fx-background-color: #343b3c;
    -fx-text-fill: #e7c697;
}


// Focused item background color in the list
.choice-box .menu-item {
-fx-background-color: #414a4c;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #232323;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #232323;
}

.text-area {
-fx-font-family: "Fontin";
-fx-font-size: 16px;

    -fx-text-fill: #e7c697;
}

.text-area .content {
-fx-background-color: #151515;
}

.text-area .scroll-bar:vertical .thumb {
    -fx-background-color: #C69F60;
}

.text-area .scroll-bar:horizontal .thumb {
    -fx-background-color: #C69F60;
}
.text-area .scroll-bar .track {
    -fx-background-color: #414a4c;
}

/* Style for WebView scroll bars */
.web-view .scroll-bar:vertical .thumb {
    -fx-background-color: #C69F60;
}

.web-view .scroll-bar:horizontal .thumb {
    -fx-background-color: #C69F60;
}

.web-view .scroll-bar .track {
    -fx-background-color: #414a4c;
}

/* Style for WebView scroll bars */
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #C69F60;
}

.table-view .scroll-bar:horizontal .thumb {
    -fx-background-color: #C69F60;
}

.table-view .scroll-bar .track {
    -fx-background-color: #414a4c;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: #C69F60;
    -fx-padding: 0.5em;
}

.chart-content {
    -fx-font-family: "Fontin";
        -fx-background-color: #414a4c;
        -fx-text-fill: #e7c697;
        -fx-font-size: 14px;
}

.chart-plot-background {
    -fx-font-family: "Fontin";
        -fx-background-color: #414a4c;
        -fx-text-fill: #e7c697;
        -fx-font-size: 14px;
}

/* Style for LineChart legend */
.chart-legend {
    -fx-background-color: #151515; /* Background color of the legend */
}

.axis .axis-label {
    -fx-text-fill: #e7c697; /* Color of the axis label */
    -fx-font-size: 14px; /* Font size of the axis label */
}

.axis {
    -fx-tick-label-fill: #e7c697; /* Color of the tick labels */
    -fx-tick-label-font-size: 12px; /* Font size of the tick labels */
}

.vbox {
    -fx-background-color: #232323; /* Light gray background color */
}

.scroll-pane {
    -fx-background-color: #232323; /* Light gray background color */
}

.scroll-pane .viewport {
    -fx-background-color: #232323; /* White background color for the content area */
}